<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Hidden Layers Page Test">
        <classes>
            <class name="HiddenLayersPageTest"/>
        </classes>
    </test>
    <test name="Click Page Test">
        <classes>
            <class name="ClickPageTest"/>
        </classes>
    </test>
    <test name="Verify Text Page Test">
        <classes>
            <class name="VerifyTextPageTest"/>
        </classes>
    </test>
    <test name="Mouse Over Page Test">
        <classes>
            <class name="MouseOverPageTest"/>
        </classes>
    </test>
</suite>