<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Hidden Layers Page Test">
        <classes>
            <class name="com.elinext.testingplaygrounddemo.pages.HiddenLayersPageTest"/>
        </classes>
    </test>
    <test name="Click Page Test">
        <classes>
            <class name="com.elinext.testingplaygrounddemo.pages.ClickPageTest"/>
        </classes>
    </test>
    <test name="Verify Text Page Test">
        <classes>
            <class name="com.elinext.testingplaygrounddemo.pages.VerifyTextPageTest"/>
        </classes>
    </test>
    <test name="Mouse Over Page Test">
        <classes>
            <class name="com.elinext.testingplaygrounddemo.pages.MouseOverPageTest"/>
        </classes>
    </test>
    <test name="Load Delays Page Test">
        <classes>
            <class name="com.elinext.testingplaygrounddemo.pages.LoadDelaysPageTest"/>
        </classes>
    </test>
    <test name="Text Input Page Test">
        <classes>
            <class name="com.elinext.testingplaygrounddemo.pages.TextInputPageTest"/>
        </classes>
    </test>
    <test name="Progress Bar Page Test">
        <classes>
            <class name="com.elinext.testingplaygrounddemo.pages.ProgressBarPageTest"/>
        </classes>
    </test>
    <test name="Non-Breaking Space Page Test">
        <classes>
            <class name="com.elinext.testingplaygrounddemo.pages.NonBreakingSpacePageTest"/>
        </classes>
    </test>
</suite>